<div mat-dialog-content>
    <mat-radio-group aria-label="Select an option" class="select-task-radio-group" [(ngModel)]="selectedTask">
        <table>
        <tr *ngFor="let t of tasks">
            <td><mat-radio-button class="select-task-radio-button" value="{{ t.TaskId }}">{{ t.Chantier }} - {{ t.Name }}</mat-radio-button></td>
            <td><button mat-raised-button>{{ t.Usage }} / {{ t.Budget }}</button></td>
        </tr>
        </table>
    </mat-radio-group>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onOkClick()" color="primary">Ok</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
</div>
