table{
  width: 100%;
}

.mat-column-activite {
    flex: 0 0 25% !important;
    width: 120px !important;
}

.mat-column-quantite {
    flex: 0 0 25% !important;
    width: 120px !important;
    text-align: right;
    justify-content: flex-end;
}

.mat-column-montant {
    flex: 0 0 25% !important;
    width: 120px !important;
    text-align: right;
    justify-content: flex-end;
}

.mat-column-actions {
    flex: 0 0 25% !important;
    width: 60px;
    text-align: center;
    justify-content: center;
}