<div fxHide.lt-sm >
	<div class="container" fxLayout="row" fxFlexFill >
		<div fxFlex="80px" class="action">
			<button mat-raised-button color="accent" (click)="sm.refreshTaskList()" style="width:100%;"><mat-icon>refresh</mat-icon></button>
		</div>
		<div fxFlex="80px" class="action">
			<button mat-raised-button color="accent" (click)="addTask()" style="width:100%;"><mat-icon>add</mat-icon></button>
		</div>
		<div fxFlex="115px" class="action">
			<button mat-raised-button color="accent" (click)="sm.previousDay()" style="width:100%;"><<<</button>
		</div>
		<div fxFlex="115px" class="action">
			<button mat-raised-button color="accent" (click)="sm.nextDay()" style="width:100%;">>>></button>
		</div>
		<div fxFlex  class="day">
			{{dates[0].format('ddd DD/MM')}} <button mat-button-raised (click)="copyNext(0)" color="primary">></button>
		</div>
		<div fxFlex class="day">
			{{dates[1].format('ddd DD/MM')}}
		</div>
		<div fxFlex class="day">
			{{dates[2].format('ddd DD/MM')}}
		</div>
		<div fxFlex class="day">
			{{dates[3].format('ddd DD/MM')}}
		</div>
		<div fxFlex class="day" style="margin-right:15px;">
			{{dates[4].format('ddd DD/MM')}}
		</div>
	</div>
	<div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" *ngFor="let t of teams">
		<div fxFlex="45px" class="team">
			{{t.Name}}
		</div>
		<div fxFlex class="team-list">
			<div class="container" fxLayout="row" fxLayoutAlign="center center" *ngFor="let e of t.Employees">
				<div fxFlex="300px" class="employee">
					{{ e.Employee }} ({{ e.EmployeeCode }})
				</div>
				<div fxFlex class="item">
					<app-plan-cell [employee]="e" index="0" ></app-plan-cell>
				</div>
				<div fxFlex class="item">
					<app-plan-cell [employee]="e" index="1" ></app-plan-cell>
				</div>
				<div fxFlex class="item">
					<app-plan-cell [employee]="e" index="2" ></app-plan-cell>
				</div>
				<div fxFlex class="item">
					<app-plan-cell [employee]="e" index="3" ></app-plan-cell>
				</div>
				<div fxFlex class="item">
					<app-plan-cell [employee]="e" index="4" ></app-plan-cell>
				</div>
			</div>
		</div>
	</div>
	<app-db-log></app-db-log>
</div>
<div class="container" fxLayout="row" fxHide.gt-xs >
	TODO : Implement mobile view of the planning....
</div>